*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: f-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a,
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

/* reset end */

/* global styles */

body {
  font-family: Inter, system-ui;
  color: #5F6D7E;
}

/* global styles end*/

/* layout styles */

.container {
  margin-inline: auto;
  max-width: 1280px;
  padding-inline: 16px;
}

/* Header */
.header {
  background-color: #151B28;
  border-bottom: 1px solid #2E3545;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.logo-desktop {
  display: none;
}

.nav-link {
  display: none;
}

.btn-group {
  display: none;
}

/* Header End*/

/* Hero  */
.hero {
  background-color: #151B28;
}

.hero-inner {
  text-align: center;
  padding-block: 32px;

  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #f9f9f9;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  .desktop-line {
    display: none;
  }
}

.pricing-toggle-btn {
  background-color: #2C3444;
  display: inline-flex;
  border-radius: 5px;
  padding: 4px;
}

.toggle-btn {
  padding: 9px 58px;
  color: #A5ACBA;
  font-size: 14px;
  font-weight: 600;
  background-color: #2C3444;
  border: none;
  cursor: pointer;
}

.toggle-btn-active {
  background-color: #333B48;
  border-radius: 5px;
  color: #f9f9f9;
}

.pricing-card-list {
  padding-block: 32px 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.pricing-card {
  background-color: #1C2534;
  border-radius: 5px;
  border: 1px solid #252D3C;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  h2 {
    color: #f9f9f9;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  span {
    color: #A5ACBA;
    font-size: 16px;
    font-weight: 400;
  }

  h4 {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    padding-bottom: 16px;
    border-bottom: 1px solid #2E3545;
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 12px;
  }

  li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #f9f9f9;
  }

  .btn-full {
    width: 100%;
  }
}

.btn {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  background-color: #437EF7;
  color: #f9f9f9;
  border-radius: 6px;
  padding: 12px 18px;
  text-align: center;
}

/* Hero End */

/* Feature */

.feature {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  padding-block: 32px;
}

.feature-icon {
  margin-bottom: 16px;

  img {
    padding: 8px;
    background-color: #437EF7;
    border-radius: 50%;
  }
}

.feature-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #272d37;
  margin-bottom: 8px;
}

.feature-text {
  margin-bottom: 16px;
}

.right-arrow {
  display: flex;
  align-items: center;
  gap: 6px;

  a {
    font-weight: 600;
    color: #437EF7;
  }
}

/* Feature End*/

/* Product Features */

.product-features {
  padding-block: 32px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #272d37;
    margin-bottom: 12px;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 32px;
  }

  .desktop-line {
    display: none;
  }
}

.product-features-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  span {
    display: inline-block;
    color: #437EF7;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 28px;
    text-align: left;
  }

  p {
    text-align: left;
  }

}

.demonstrate-pic{
  width: 100%;
  height: auto;
}

/* Product Features End*/

/* Testimonials */

.testimonials {
  background-color: #F8F9FB;
}

.testimonials-content {
  padding-block: 32px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #272d37;
    margin-bottom: 32px;
    text-align: center;
  }
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.testimonials-item {
  img {
    margin-bottom: 16px;
  }

  p {
    font-weight: 500;
    margin-bottom: 16px;
    color: #272d37;
  }

  .author {
    display: flex;
    align-items: center;
    gap: 10px;

    .author-img {
      margin-bottom: 0px;
    }
  }

  .author-info {
    display: flex;
    flex-direction: column;
    gap: 0px;

    .author-name {
      font-weight: 500;
      color: #272d37;
      margin-bottom: 0px;
    }

    span {
      font-weight: 500;
    }
  }
}

/* Testimonials End*/

/* Footer */

.footer {
  background-color: #151B28;
}

.footer-content {
  padding-block: 32px;
}

.pre-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 24px;

  h3 {
    font-size: 28px;
    color: #f9f9f9;
    margin-bottom: 16px;
    line-height: 36px;
  }

  .btn-group {
    display: inline-block;

    .btn-primary {
      margin-bottom: 16px;
    }

    .btn-secondary {
      background-color: #2C3444;
    }

    .btn-sm {
      display: grid;
    }
  }
}

.footer-top {
  border-block: 1px solid #2E3545;
  padding-block: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 64px;

}

.footer-logo {
  grid-row: 1/2;
  grid-column: 1/3;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0px;

  a {
    color: #A5ACBA;
    font-weight: 500;
  }
}

.footer-list-title {
  margin-bottom: 16px;

  a {
    color: #f9f9f9;
    font-weight: 600;
  }

}

.footer-list-md {
  grid-row: 2/3;
  grid-column: 1/2;
}

.footer-list-md-2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.footer-list-md-3 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.footer-list-md-4 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.footer-bottom {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  display: flex;
  gap: 24px;
}

/* Footer End */

/* layout styles end*/


/* media queries */

/* tablet */
@media(width >=768px) {

  .container {
    padding-inline: 32px;
  }

  /* Hero  */
  .hero-inner {
    padding-block: 0px;
    padding-top: 48px;

    h1 {
      font-size: 52px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 24px;
    }
  }

  .toggle-btn {
    padding: 9px 69px;
  }

  .pricing-card-list {
    padding-block: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .pricing-card {
    padding: 32px;

    h2 {
      font-size: 36px;
      margin-bottom: 16px;
    }

    span {
      font-size: 20px;
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }

    ul {
      margin-bottom: 20px;
    }

  }

  /* Feature */
  .feature {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 32px;
    padding-block: 40px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .feature-title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  /* Product Features */
  .product-features {
    padding-block: 40px;

    h3 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 40px;
    }

    .desktop-line {
      display: block;
    }

  }

  .product-features-content {
    gap: 48px;
  }

  /* Testimonials */

  .testimonials-content {
    padding-block: 40px;

    h3 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }

  .testimonials-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .testimonials-item {
    img {
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 24px;
    }

  }

  .testimonials-item-md {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .testimonials-item-md-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .testimonials-item-md-3 {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  /* Footer */

  .footer-content {
    padding-block: 40px;
  }

  .pre-footer {
    text-align: left;
    margin-bottom: 32px;

    h3 {
      font-size: 32px;
      margin-bottom: 32px;
      line-height: 42px;
    }

    .btn-group {

      .btn-primary {
        margin-bottom: 0px;
        margin-right: 16px;
      }

      .btn-sm {
        display: inline-flex;
      }
    }
  }

  .footer-top {
    padding-block: 32px;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 64px;

  }

  .footer-logo {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .footer-list-md {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .footer-list-md-2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .footer-list-md-3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .footer-list-md-4 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

}

/* tablet end*/


/* desktop */
@media(width >=1280px) {

  /* Header */
  .nav-left {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  .logo-desktop {
    display: block;
  }

  .logo-desktop-mb {
    margin-bottom: 22px;
  }

  .logo-mobile {
    display: none;
  }

  .nav-link {
    padding-left: 0px;
    display: block;
    display: flex;
    gap: 32px;

    li {
      list-style: none;
    }

    li a {
      display: flex;
      gap: 10px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .btn-group {
    display: block;

    .btn-primary {
      background-color: transparent;
      color: #437EF7;
    }
  }

  .mobile-menu-handler {
    display: none;
  }

  /* Hero  */
  .hero-inner {
    padding-top: 64px;

    .desktop-line {
      display: block;
    }
  }

  .pricing-card-list {
    padding-block: 64px;
    grid-template-columns: repeat(3, 1fr);
  }

  /* Feature */
  .feature {
    gap: 64px 32px;
    padding-block: 64px;
  }

  /* Product Features */
  .product-features {
    padding-block: 64px;

    p {
      margin-bottom: 64px;
    }

  }

  .product-features-content {
    flex-direction: row;
    gap: 140px;

  }

  .product-features-text{
    p{
      margin-bottom: 40px;
    }
  }

  /* Testimonials */
  .testimonials-content {
    padding-block: 64px;

    h3 {
      margin-bottom: 64px;
    }
  }

  .testimonials-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .testimonials-item {
    img {
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 24px;
    }

  }

  .testimonials-item-md {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonials-item-md-2 {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonials-item-md-3 {
    grid-row: auto;
    grid-column: auto;
  }

  /* Footer */

  .footer-content {
    padding-block: 64px;
  }

  .pre-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

    h3 {
      margin-bottom: 0px;
    }

    .btn-group {

      .btn-primary {
        background-color: #437EF7;
        color: #f9f9f9;
        margin-bottom: 0px;
        margin-right: 16px;
      }

      .btn-sm {
        display: inline-flex;
      }
    }
  }

  .footer-top {
    padding-block: 48px 64px;
    grid-template-columns: repeat(5, 1fr);
    gap: 142px;

  }

  .footer-logo {
    grid-row: auto;
    grid-column: auto;
  }

  .footer-list {

    a {
      font-weight: 600;
    }
  }

  .footer-list-md {
    grid-row: auto;
    grid-column: auto;
  }

  .footer-list-md-2 {
    grid-row: auto;
    grid-column: auto;
  }

  .footer-list-md-3 {
    grid-row: auto;
    grid-column: auto;
  }

  .footer-list-md-4 {
    grid-row: auto;
    grid-column: auto;
  }


}

/* desktop end*/


/* media queries end*/